// Font
$mainFont: 'Roboto', sans-serif;
$titleFont: 'Roboto Condensed', sans-serif;
$mainColor: #fff;

// Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$largePhone: 480px;
$tabletPortrait: 768px;
$largePhoneLandscape: 812px;
$tabletLandscape: 1023px;
